*{
    --color-blue-dark-blue: #0D1E4A;
    --color-light-blue: #213264;    
    --color-gray: #5D5D5D;
    --color-golf: #946A2D; 
    --color-black: #000000;    
}

header.container{
    max-width: 100% !important;
    padding: 20px 40px;
    background-color: var(--color-light-blue);
    color: white;
    font-size: 20px;
}

header.container a{
    text-decoration: none;
    color: white;
}

.description img{ 
    height: 60px;
}

#payment-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;

    border: var(--color-gray) solid 1px;

    /* width: fi; */
}

.order-summary{
    display: flex;
    flex-direction: column;
}

.order-summary > div{
    display: flex;
    justify-content: space-between;
}