body{
margin: 3px;
padding: 1px;
text-align: center;



}

.h-100 {
    padding: 5px;
    margin-left: 5px;



}




h5{

    color: aliceblue;
    background-color: aliceblue;
}



header{

    font-size: xx-large;
    color: #0d1e4a;
    font-style: italic;
}


.btn-carro {

    background-color: #946A2D;
    border: #946A2D;
}